**Segundo exemplo de manipulação de dados usando Python Pandas**

Autor: Enzo Paião

Data: 9 a 10 de fevereiro de 2023

In [27]:
#Import do pandas
!pip install -q xlrd
import pandas as pd
import numpy as np

In [22]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [23]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True

display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [24]:
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'SAO PAULO' else None for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO','INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS           None
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7742 rows x 2 columns]

In [36]:
combustiveis_df['Status do Valor de Venda'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Status do Valor de Venda']])

,Revenda,Valor de Venda,Status do Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [38]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
display(num_habitantes_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [39]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [40]:
# Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status preco,Valor da venda - Status,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,6.999,NaN,R$ / litro,RAIZEN,True,None,Caro,Caro,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,4.990,NaN,R$ / litro,RAIZEN,True,None,Barato,Barato,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,7.130,NaN,R$ / litro,RAIZEN,True,None,Caro,Caro,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,6.990,NaN,R$ / litro,BRANCA,True,None,Caro,Caro,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,4.990,NaN,R$ / litro,BRANCA,True,None,Barato,Barato,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,6.499,NaN,R$ / litro,IPIRANGA,True,None,Barato,Barato,Barato,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,5.499,NaN,R$ / litro,RAIZEN,True,None,Barato,Barato,Barato,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,6.699,NaN,R$ / litro,RAIZEN,True,None,Caro,Caro,Caro,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,4.899,NaN,R$ / litro,RAIZEN,True,None,Barato,Barato,Barato,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,6.299,NaN,R$ / litro,RAIZEN,True,None,Barato,Barato,Barato,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Complemento               3837 non-null   object
 8   Bairro                    20634 non-null  object
 9   Cep                       20634 non-null  object
 10  Produto                   20634 non-null  object
 11  Data da Coleta            20634 non-null  datetime64[ns]
 12  Valor de Venda            20634 non-null  float64
 13  Valor de Compra           0 non-null      float64
 14  Unidade de Medida         20634 non-null  object
 15  Bandeira                  20634 non-null  object
 16  Ativo                     20634 non-null  bool
 17  Obs                       5220 non-null   object
 18  Status preco              20634 non-null  object
 19  Valor da venda - Status   20634 non-null  object
 20  Status do Valor de Venda  20634 non-null  object
 21  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 3.5+ MB
None

In [41]:
#Destruir coluna completamente vazia (todas as linhas são nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Bairro                    20634 non-null  object
 8   Cep                       20634 non-null  object
 9   Produto                   20634 non-null  object
 10  Data da Coleta            20634 non-null  datetime64[ns]
 11  Valor de Venda            20634 non-null  float64
 12  Unidade de Medida         20634 non-null  object
 13  Bandeira                  20634 non-null  object
 14  Ativo                     20634 non-null  bool
 15  Status preco              20634 non-null  object
 16  Valor da venda - Status   20634 non-null  object
 17  Status do Valor de Venda  20634 non-null  object
 18  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 3.0+ MB
None

In [42]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status do Valor de Venda']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Estado - Sigla           20634 non-null  object
 1   Municipio                20634 non-null  object
 2   Revenda                  20634 non-null  object
 3   CNPJ da Revenda          20634 non-null  object
 4   Status preco             20634 non-null  object
 5   Valor da venda - Status  20634 non-null  object
 6   NumHabitantes2021        20634 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.3+ MB
None

In [43]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Status preco,Valor da venda - Status,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Caro,Caro,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,Barato,Barato,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Caro,Caro,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,Barato,Barato,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,Caro,Caro,1555626
...,...,...,...,...,...,...,...
182,GO,GOIANIA,AUTO POSTO LIDER LTDA,15.225.748/0001-60,Caro,Caro,1555626
185,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,Barato,Barato,1555626
186,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,Caro,Caro,1555626
188,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,Caro,Caro,1555626
189,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,Barato,Barato,1555626

In [46]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           88
GO             GOIANIA        1555626                         186
MG             BELO HORIZONTE 2530701                         108
MS             CAMPO GRANDE   916001                          184
PR             CURITIBA       1963726                         146
RJ             RIO DE JANEIRO 6775561                         752
RN             NATAL          803739                           74
RO             PORTO VELHO    548952                           75
RS             PORTO ALEGRE   1492530                         131
SP             CAMPINAS       1223237                          74
               INDAIATUBA     260690                           59
               SANTOS         433991                           58
               SAO PAULO      12396372                        650
               SAO VICENTE    370839                           30
TO             PALMAS         313349                           50

                                                 Status preco  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       88
GO             GOIANIA        1555626                     186
MG             BELO HORIZONTE 2530701                     108
MS             CAMPO GRANDE   916001                      184
PR             CURITIBA       1963726                     146
RJ             RIO DE JANEIRO 6775561                     752
RN             NATAL          803739                       74
RO             PORTO VELHO    548952                       75
RS             PORTO ALEGRE   1492530                     131
SP             CAMPINAS       1223237                      74
               INDAIATUBA     260690                       59
               SANTOS         433991                       58
               SAO PAULO      12396372                    650
               SAO VICENTE    370839                       30
TO             PALMAS         313349                       50

                                                 Valor da venda - Status
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                  88
GO             GOIANIA        1555626                                186
MG             BELO HORIZONTE 2530701                                108
MS             CAMPO GRANDE   916001                                 184
PR             CURITIBA       1963726                                146
RJ             RIO DE JANEIRO 6775561                                752
RN             NATAL          803739                                  74
RO             PORTO VELHO    548952                                  75
RS             PORTO ALEGRE   1492530                                131
SP             CAMPINAS       1223237                                 74
               INDAIATUBA     260690                                  59
               SANTOS         433991                                  58
               SAO PAULO      12396372                               650
               SAO VICENTE    370839                                  30
TO             PALMAS         313349                                  50

In [47]:
#AQUI O FINAL ESTÁ COM PROBLEMA

#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

#postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('AC', 'RIO BRANCO', 419452) to ('TO', 'PALMAS', 313349)
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Revenda                  15 non-null     int64
 1   CNPJ da Revenda          15 non-null     int64
 2   Status preco             15 non-null     int64
 3   Valor da venda - Status  15 non-null     int64
dtypes: int64(4)
memory usage: 1.0+ KB

None

                                                 NumPostos  Status preco  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                    88            88
GO             GOIANIA        1555626                  186           186
MG             BELO HORIZONTE 2530701                  108           108
MS             CAMPO GRANDE   916001                   184           184
PR             CURITIBA       1963726                  146           146
RJ             RIO DE JANEIRO 6775561                  752           752
RN             NATAL          803739                    74            74
RO             PORTO VELHO    548952                    75            75
RS             PORTO ALEGRE   1492530                  131           131
SP             CAMPINAS       1223237                   74            74
               INDAIATUBA     260690                    59            59
               SANTOS         433991                    58            58
               SAO PAULO      12396372                 650           650
               SAO VICENTE    370839                    30            30
TO             PALMAS         313349                    50            50

                                                 Valor da venda - Status
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                  88
GO             GOIANIA        1555626                                186
MG             BELO HORIZONTE 2530701                                108
MS             CAMPO GRANDE   916001                                 184
PR             CURITIBA       1963726                                146
RJ             RIO DE JANEIRO 6775561                                752
RN             NATAL          803739                                  74
RO             PORTO VELHO    548952                                  75
RS             PORTO ALEGRE   1492530                                131
SP             CAMPINAS       1223237                                 74
               INDAIATUBA     260690                                  59
               SANTOS         433991                                  58
               SAO PAULO      12396372                               650
               SAO VICENTE    370839                                  30
TO             PALMAS         313349                                  50